.p-data{
    font-size:20px;
}

.picture{
    width:200px;
    height:200px;
    border-radius:5px;
    border:3px solid #0C4B33;
}

.btn-active{
    background-color:green !important;
}

.btn-inactive{
    background-color:red !important;
}

