.class-login{
    margin-top:10% !important;
    border: 1px solid #ccc;
    background-color: #CFE3DC;
    border-radius: 5px;
}

fieldset{
    margin:10% !important;
}

.form-control{
    border: 2px solid black;
    font-size:20px;
}

.btn{
    width:100px;
    height:40px;
}
